@font-face {
    font-family: neon;
    src: url(../font/neon.ttf);
    }

.navv{	
		background-color:#A35353;
		text-align: center;	
		box-shadow: 0px 0px 20px 4px rgba(0,0,0, 0.1);	
		margin:auto;
		overflow: hidden;	
	}
.body{	margin: 0;
		background-color: #F3C9C9;
		text-align: center;
}
a{		text-decoration:none;}
.logo{	height:17vh;
		width: 8.3vw;
		margin-top:10px;
		margin-bottom: 10px; }
.brand{	font-family: monospace;
		font-size: 18px;
		color:#FFFFFF;			
		display: inline;
		border-right:1px #B2ACAC solid;
		margin: 10px 15px 0px 15px;
		padding-right:15px; 
		}
.brand:hover{
		font-weight:bolder;
		color:#F1ECC7;		
}
.et{	width: 165px;		
		}
.rm{	border-right:0;
		}
.cool{	margin-left: auto;
		margin-right: auto;
		text-align: center;}
.navright{		
		position: absolute;
		top:16vh;
		left:86.6vw;
		color:#FFFFFF;
		font-family: "微軟正黑體";
}
.people{text-align: left;
		position: absolute;
		left:86.5vw; 
		top:9vh;
		color:white;
		font-family:"微軟正黑體";
		 }
.user{	
		width: 35px;
		height: 35px;
		cursor:pointer;
		}

.dropbtn {
		background-color:#A35353;
  		padding: 16px;
  		border:0;
}

.dropdown {
  		position: relative;
  		left:-15px;
  		display: inline-block;
}

.dropdown-content {
  		display: none;
  		position: absolute;
  		top:56px;
  		left:-18px;
  		min-width: 110px;
  		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  		z-index: 1000;
  		
}
.search{
		background-color:#F3C9C9;
		position: absolute;
  		top:56px;
  		left:-158px;
		width:220px;
		height:80px;
		text-align:left;
		padding-top:20px;
		padding-left:15px;
}
.inputsearch{		
		width:150px;
		height:40px;
}
.searchpic{
		width:20px;
		height:20px;
		display:inline;
}
.searchbutton{
		width:40px;
		height:40px;
		position:relative;
		left:-4px;		
		background-color:#D7D7D7;
		border:1px #B4B4B4 solid;
}
.searchbutton:hover{
		background-color:#B4B4B4;
}
.dropdown-content a {
		background-color:#F3C9C9;
  		color: black;
  		padding: 12px 16px;
  		text-decoration: none;
  		display: block;

}

.dropdown-content a:hover {
		background-color: #D9C7C7;
		color:#A35353;
		text-decoration:none;
		font-weight:bolder;}

.dropdown:hover .dropdown-content {display: block;}
.shopping{
		position:relative;
		left:-18px;
		display: inline-block;
		background-color:#A35353;
		border:0;
}
.sidenav {
  		height: 100%;
  		width: 0;
  		position: fixed;
  		z-index: 100;
  		top: 0;
  		right: 0;
  		background-color:#FFE5E5;
  		overflow-x: hidden;
  		transition: 0.5s;
  		padding-top: 30px;
  		color:black;
  		font-size:22px;
}
.dropbtn:focus{
	outline:none;
}
.shopping:focus{
	outline:none;
}
.carpic  {	
		width:25px;
		height:25px;
		margin-top:-6px;}
.car{	width:280px;
		height:150px;
		background-color:#DDD1D1;
		margin:20px auto 30px auto;
		box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3);
		display:block;
		position:relative;

	}
.itempicdiv{
		float:left;
		margin-top:25px;
		margin-left:15px;
		margin-right:15px;
		width:100px;
		height:100px;
		position:relative;
	}
.itempic{
		width:100px;
		height:100px;
}
.car_item{
		font-size:20px;
		padding:25px ;
}
.badge1 {
 	 	position: absolute;
  		top: -10px;
  		right: -10px;
  		width:30px;
  		height:30px;
  		border-radius:50%;
  		background: red;
  		color: white;
  		font-size:20px;
}
.close{	position:absolute;
  		top: 0;
  		right: 5px; 

} 
.sidenav a {
  		padding: 8px 8px 8px 32px;
  		text-decoration: none;
  		font-size: 25px;
  		display: block;
  		transition: 0.3s;
  		color: #818181;
}
.closebtn :hover {
  		color: #A35353;
}
.sidenav .closebtn {
  		position: absolute;
  		top: 0;
  		right: 25px;
  		font-size: 36px;
  		margin-left: 50px;
}
.buybtn{width:200px;
		height:60px;
		position:relative;
		margin-bottom:20px;
		cursor:pointer;
		background-color:#A35353;
		color:#FFFFFF;
		border:0;
		border-radius:5px;
		box-shadow:4px 4px 5px #AAA;
	}
.buybtn:hover{
		background-color:#673232;
		font-weight:bolder;
}
.buybtn:focus
{
		outline:none;
}
.buybtn:active{
		transform:translateY(3px);
}
.indexmodal {
 		display: none; 
  		position: fixed; 
  		z-index: 100000; 
  		left: 0;
  		top: 0;
  		width: 100%; 
  		height: 100%;		 
  		overflow: auto; 
  		background-color: rgb(0,0,0); 
  		background-color: rgba(0,0,0,0.4); 
  		

}
.modal-content-index {
  		background-color: #FFE1E1;
  		margin: 10% auto 5% auto; 
  		border: 1px solid #888;
  		position:relative;
  		border-radius:20px;
  		box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3);
  		
}
.animate {
  		-webkit-animation: animatezoom 0.6s;
  		animation: animatezoom 0.6s
}
.login{	color:#A35353;
		font-size:27px;
		margin-top:10px ;
		font-weight:bolder;}
.logomodal{
		width:100px;
		height:100px;
		margin:20px auto 0 auto;
}
.indexinput {
  		width: 83%;
  		padding: 12px 20px;
 		margin: 8px 0;
  		display: inline-block;
  		border: 1px solid #A35353;
 	 	box-sizing: border-box;
}
.closemodal{
		position: absolute;
  		right: 25px;
  		top: 0;
  		color: #000;
 		font-size: 40px;
  		font-weight: bold;	
}
.closemodal:hover,
.closemodal:focus {
  		color: red;
  		cursor: pointer;
}
.container_modal {
  		padding: 15px;
  		color:black;
  		
}
.loginbut{
		background-color: #FDFFB3;
  		color: #392A80;
  		font-size:24px;
  		padding: 5px;
  		border: none;
  		cursor: pointer;
  		width: 40%;
  		margin:30px auto 10px auto;
  		display:inline-block;
  		font-weight:bolder;
  		border-radius:20px;
}
.loginbut :hover{
		opacity: 0.8;
		
}
.sussce{  
  		margin: 15% auto 15% auto;
  		border: 1px solid #888;
  		border-radius:20px;
  		width: 15%; 
  		height: 22%;
  		background-color: #FFE1E1;
  		color:#A35353;
  		font-size:22px;
  		font-weight:bolder;
  		position: relative;
}
.duihao{width:100px;
		height:100px;
		
	}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {	-webkit-transform: scale(1)}
}
::-webkit-scrollbar {
 		width: 10px;
}
::-webkit-scrollbar-track {
  		background: #AC7A7A; 
}
::-webkit-scrollbar-thumb {
  		background:#DFBDBD; 
}
::-webkit-scrollbar-thumb:hover {
  background:#C0B1B7; 
}

footer{
	background-color: #777777;
	height:90px;
	color: #EFEFEF;
	padding: 15px 15px;
	font-size: 14px;
	font-family: 微軟正黑體;
	
}
footer p{
	text-align: center;
	line-height:8px;
}
footer a{
	color: #EFEFEF;
	text-decoration: none;
}
footer a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #EFEFEF;
}

.buy{
	width:60%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	color:black;	
	min-height:612px;
}
.model-head {
	padding: 15px;
	color: #73879C;
	border-bottom: 1px solid #e5e5e5;
	background-color:white;
	margin-top:40px;

}


.model-content {
	position: relative;
	padding: 15px;
	background-color:white;
	font-family:"微軟正黑體";
	min-height:545px;
}
#List{
  background-color: #EBDADA;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
.list-1{
  padding:15px 15px 15px 15px;
  height: 115px;
  border-bottom: #ccc solid 0.5px;
  clear: both;
}
#List img{
  width: 85px;
  float: left;
}
#List p{
  margin: 5px 0px;
}
.list-product{
  float: left;
  margin-left:10px;
  width: 500px;
  text-align:left;
}
.list-price{
  float: right;
  padding-top:28px;
}
.list-price p{
  color: black;
  font-size: 18px;
}
.list-totalprice{
  padding:35px 15px 10px 15px;
}
.list-totalprice p{
  font-size: 24px;
  text-align: right;
  color: black;
}

.contBform{
	width:80%;
	background-color: #EBDADA;
	margin-left:auto;
  	margin-right:auto;
  	text-align:left;
  	padding:15px;
  	line-height:20px;
  	font-size:20px;
  	color:#A35353;
  	font-weight:bolder;
}
.contBform input[type="text"]{
	width:50%;
	margin-left:10px;
	border-radius:5px;
	border:1px #A35353 solid;
}
.contBform input[type="text"]:focus{
	outline:none;
}
.contBform input[type="radio"]{
	width:15px;
	height:15px;
	margin-left:28px;
}
.hot{
	font-family: neon;
	height:82vh;
	background-color:black;
	color:white;
	position:relative;
	overflow:hidden;
}

.w350{
	width: 230px;
	height: 300px;
	float: left;
	margin:0px 1.5vw 20px 1.5vw;
	position:relative;
	
}
.first{
	width:230px;
	position:absolute;
	left:0;
}
.second{
	width:230px;
	opacity:0;
	position:absolute;
	left:0;
}
.second:hover{
	transition:0.4s;
	opacity:1;
}
.w350 p{
	margin:5px 1px ;
	font-family:monospace;
	position:relative;
	top:230px;
	font-size:18px;
	color:white;
}
.pop{
	padding-top:30px;
	font-size:6vw;
	color: #FB4264;
    line-height: 6vw;
    text-shadow: 0vw 0vw 3vw #F40A35;
    animation: neon 1s ease infinite;
}
@-webkit-keyframes neon{
	0%, 100% {
        text-shadow: 0vw 0vw 1vw #FA1C16, 0vw 0vw 3vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw 10vw #FA1C16, 0vw 0vw .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0vw 0vw .5vw #800E0B, 0vw 0vw 1.5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw 5vw #800E0B, 0vw 0vw .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}
.h{	
	color:#FF2828;
	font-family:monospace;
	display:inline-block;
	font-size:38px;
	font-weight:bolder;
	font-family:'Londrina Sketch';	
	animation: hotneon 0.8s ease infinite;
	margin-right: 13.5vw;
}
@-webkit-keyframes hotneon{
	0%, 100% {
        color: #FF2828;
    }
    50% {
        color: #721010;
    }
}
.bdr{		
	width:96vw;
	position:absolute;
	top:25px;
	left:30px;
	border:5px #FED128 solid;
	border-radius:20px;
	box-shadow:0px 0px 40px #FA1C16;
}
.intro{
	font-family:"微軟正黑體";
	font-size:20px;
}
.gbg{
	background-color:#A35353;
	width:10vw;
	font-size:22px;
	font-weight:bolder;
	color:white;
	padding:10px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
.member{
	background-color:#D99EA3;
	width:50vw;
	margin:20px auto 0 auto;
	border-radius:20px;
	padding-top:20px;
	padding-bottom:10px;
}